@font-face {
    font-family: 'SourceSansPro-Bold';
    src: url('../fonts/text-fonts/SourceSansPro-Bold.WOFF') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro-SemiBold';
    src: url('../fonts/text-fonts/SourceSansPro-SemiBold.WOFF') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro-Light';
    src: url('../fonts/text-fonts/SourceSansPro-Light.WOFF') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro-Regular';
    src: url('../fonts/text-fonts/SourceSansPro-Regular.WOFF') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Setting variables for ever font-family
// For header
$header-bold: 'SourceSansPro-Bold', sans-serif;
$header-semibold: 'SourceSansPro-SemiBold', sans-serif;
// For custom text
$text-regular: 'SourceSansPro-Regular', sans-serif;
$text-light: 'SourceSansPro-Light', sans-serif;

// Base Font-size
$base-fontsize : 16px;

// Color variables 

$logo-color: #ebcb80;
$white-background : #ffffff;
$button-color: #ebcb80;

// Text color
$text-color-black: #4b4b4b;
$text-color-white : #ffffff;
