@font-face {
    font-family: 'SourceSansPro-Bold';
    src: url('../fonts/text-fonts/SourceSansPro-Bold.WOFF') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro-Light';
    src: url('../fonts/text-fonts/SourceSansPro-Light.WOFF') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro-Regular';
    src: url('../fonts/text-fonts/SourceSansPro-Regular.WOFF') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Setting variables for ever font-family
// For header
$header-bold: 'SourceSansPro-Bold', sans-serif;
// For custom text
$text-regular: 'SourceSansPro-Regular', sans-serif;
$text-light: 'SourceSansPro-Light', sans-serif;

// Base Font-size
$base-fontsize : 16px;

// Color variables 
// Backgrounds
$black-background: #191a1d;
$container-black-background: #17181b;
$white-background : #ffffff;

// text
$white-text: #ffffff;
$grey-text: #d4d9dd;
$red-text: #d1323d;