@import 'custom-variables';
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1025px) {
  
  //CSS
   .show-tablet{
      display: none;
  }
   .hide-tab{
      display: block;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  //CSS
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (max-width: 1024px) {
  
  //CSS
//   Nav bar styling
  nav.navbar-custom{
    .navbar-collapse{
        ul.navbar-center{
            left: 48%;
        }
    } 
  }
  
//   section : features
   .show-tablet{
      display: block;
  }
  .hide-tab{
      display: none;
  }
  
//   section : call to action
#call-to-action{
        height: 500px;
    .action-content{
        .action-head{
            font-size: 1.8em;
        }
        .action-paragraph{
            padding: 2% 10%;
        }
    .call-to-action-button{
        a.action-button{
            padding: 14px 50px;
        }
    } 
    }
}

  
  
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  //CSS
  .show-tablet{
      display: block;
  }
  #features{
    .container{
        width: 100%;
    }
  }
  .add-pad-spacing{
      padding-left: 8%;
  }
  .half-laptop{
       position: absolute;
        top: 0;
        left: 0;
        height: 520px;
  }
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  
  //CSS
   .add-pad-spacing{
      padding-left: 8%;
  }
  .half-laptop{
       position: absolute;
        top: 0;
        left: 8;
        height: 520px;
  }
  #features{
    .feature-section{
        text-align: center;
        .feature-head{
            margin-top: 10px;
        }
        .feature-content{
            margin: 15px 0;
        }
    }
}
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (max-width: 767px) {
  
  //CSS
    // navigation section
  .hide-mobile{
      display: none;
  }
  .show-mobile{
      display: block;
  }
   .show-tablet{
      display: none;
  } 
  .hide-tab{
      display: block;
  }
  nav.navbar-custom{
    background : $dark-black-background;
    padding: 15px 0;
     box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
    .navbar-collapse{
        ul.navbar-center{
            position: relative;
            left: 0;
            transform: none;
            text-align: center;
        } 
    }
     
  }
  .navbar-bg{
    background: none;
  }

//  Section : Features

 #features{
    .feature-section{
        .feature-head{
            margin-top: 10px;
        }
        .feature-content{
            margin: 15px 0;
        }
    }
}
.section-content{
        .section-head{
            font-size: 2em !important;
        }
    }
  
  
}

@media (min-width: 768px ){
    .hide-mobile{
      display: block;
  }
  .show-mobile{
      display: none;
  }
}

@media(max-width: 425px){
    // Landing page section
    #landing-page{
        .landing-page-content{
            .landing-text{
                h1{
                    font-size: 1.8em;
                }
            }
            .landing-video{
                .video-poster{
                    width: 100%;
                    height: 210px;
                    max-width: 340px;
                }
            }
        }
    }

    #call-to-action{
        .action-content{
            .action-head{
                font-size: 1.5em;
                margin: 15px 0;
            }
            .action-paragraph{
                padding: 2% 5%;
            }
            .call-to-action-button{
                a.action-button{
                    padding: 14px 50px;
                }
            } 
        }
    }

    // Price -section
    #plan{
        .pack-price{
            margin: 15px auto;
        }
    }
}

@media (min-width: 481px) and (max-width: 767px) {
  
  //CSS
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  //CSS
  
}
