@import 'import';

// Check _custom-variables.scss file for font family used and color
body{
    font-size: $base-fontsize;
    font-family: $text-regular;
    color: $text-color-black;
}

// Navbar 
nav.navbar-custom{
    border: none;
    padding: 26px 0;
    .navbar-brand{
        font-family: $header-bold;
        font-size: 1.875em;
        color: $logo-color;
    }
    .navbar-collapse{
        //text-align: center;
        ul.navbar-center{
            position: absolute;
            left: 50%;
            transform: translatex(-50%);
            li{
                a{
                    text-transform: uppercase;
                    font-family: $header-bold;
                    color: $text-color-white;
                }
            }
        }
        .social-icons{
            i{
                font-size: 1.4em;
                color: $text-color-white;
            }
        }
    }
}

// All section styling

// =============Section : landing Page ======================

#landing-page{
    background: url("../images/banner-v6.jpg");
    width: 100%;
    height: 768px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    position: relative;
    .overlay{
        position: absolute;
        width: 100%;
        height: 768px;
        background: #000000;
        opacity: 0.5; 
    }
    // lading page content styling
    .landing-page-content{
        padding-top: 100px;
        position: relative;
        .landing-text{
            margin: 45px 0;
            h1{
                color: $text-color-white;
                font-family: $header-semibold;
                font-size: 2.50em;
                line-height: 1.2;
                //padding: 0 25%;
            }
        }
        .landing-video{
            margin: 45px 0;
            .video-poster{
                background: url("../images/video-poster.jpg");
                width: 559px;
                height: 339px;
                max-width: 100%;
                max-height: 100%;
                background-size: 559px 339px;
                background-repeat: no-repeat;
                background-position: center;
                position: relative;
                margin: 0 auto;
                cursor: pointer;
                .play-btn{
                    position: absolute;
                    width: 74px;
                    top:50%;
                    left:50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}

//  =============Section : landing  Ends! ======================

//  =============Section : Features section ======================
// #features{
//     background : $text-color-white;
//     width: 100%;
//     height: auto;
//     position: relative;
//     .section-content{
//         margin:  5% 0;
//         .section-head{
//             font-size: 2.50em;
//             font-family: $header-semibold;
//             color: $text-color-black;
//             margin: 20px 0;
//         }
//         .section-subhead{
//             font-size: 1em;
//             font-family: $header-semibold;
//             color: $text-color-black;
//             margin: 2% 0;
//             text-transform: uppercase;
//         }
//         .content{
//             margin: 45px 0;
//             .feature-section{
//                 margin: 20px 0;
//                 .feature-head{
//                     p{
//                         font-size: 1.125em;
//                         color: $text-color-black;
//                         font-family: $header-bold;
//                         text-transform: uppercase;
//                     }
//                 }
//                 .feature-content{
//                     margin: 15px 0;
//                     p{
//                         font-size: 1em;
//                         font-family: $text-regular;
//                         line-height: 1.3;
//                     }
//                 }
//             }
//         }
//     }
// }

#features{
    background : $text-color-white;
    width: 100%;
    height: auto;
    position: relative;
    @extend .section-content;
    .feature-section{
        margin: 20px 0;
        .feature-head{
            p{
                font-size: 1.125em;
                color: $text-color-black;
                font-family: $header-bold;
                text-transform: uppercase;
            }
        }
        .feature-content{
            margin: 15px 0;
            p{
                font-size: 1em;
                font-family: $text-regular;
                line-height: 1.3;
            }
        }
    }
}

//  =============Section : Features section ends ======================

//  =============Section : Call to action area ======================
#call-to-action{
    background: url("../images/call-to-action.jpg");
    width: 100%;
    height: 591px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    position: relative;
    .action-content{
        padding-top: 18%;
        text-align: center;
        .action-head{
            font-size: 2.50em;
            color: $text-color-white;
            font-family: $header-bold;
            text-transform: capitalize;
        }
        .action-paragraph{
            font-size: 1em;
            font-family: $text-regular;
            line-height: 1.5;
            color: $text-color-white;
            padding: 2% 25%;

        }
        .call-to-action-button{
            padding-top: 50px;
            a.action-button{
            background-color: $button-color;
            padding : 24px 73px;
            font-size: 1.2em;
            border-radius: 50px;
            text-transform: uppercase;
            color: $text-color-black;
            }
        }
    }
}
//  =============Section : Call to action area ends! ======================


// ==================Section : Prices ======================
#plan{
    background : $grey-background;
    width: 100%;
    height: auto;
    @extend .section-content;
    .pack-price{
        max-width : 271px;
        margin: 0 auto;
        height: auto;
        border-radius: 5px;
        @include box-shadow(2px 4px 10px 0px rgba(75,75,75,1));
        .price-content{
            padding: 15% 0;
            .pack-name{
                font-size: 1.2em;
                font-family: $header-semibold;
                color: $text-color-brown;
                text-transform: uppercase;
            }
            .pack-amount{
                color: $text-color-white;
                font-size: 1.5em;
                .amount{
                    font-size: 3.1em;
                    font-family: $header-bold;
                    display: inline-block;
                    position: relative;
                    margin: 5px;
                    span.dollar{
                        font-size: 0.5em;
                        font-family: $text-regular;
                        position: absolute;
                        top: 10px;
                        left: -20px;
                    }
                }
                .year{
                    font-size: 0.6em;
                    font-family: $header-semibold;
                    text-transform: uppercase;
                    margin-bottom: 25px; 
                }
            }
            .pack-info{
                color: $text-color-white;
                font-size: 1em;
                line-height: 1.5; 
            }
            .pack-purchase-button{
                padding-top: 40px;
                .button{
                    background-color: $button-color;
                    padding : 10px 50px;
                    font-size: 1em;
                    border-radius: 50px;
                    text-transform: uppercase;
                    color: $text-color-black;
                }
            }
        }
    }

}

// ==================Section : Prices ends ======================