@import 'import';

// Check _custom-variables.scss file for font family used and color
body{
    font-size: $base-fontsize;
    font-family: $text-regular;
}

// Navbar 
nav.navbar-default{
    background: transparent;
    border: none;
    padding: 26px 0;
    .navbar-brand{
        font-family: $header-bold;
        font-size: 1.875em;
        color: $logo-color;
    }
    .navbar-collapse{
        //text-align: center;
        ul.navbar-center{
            position: absolute;
            left: 50%;
            transform: translatex(-50%);
            li{
                a{
                    text-transform: uppercase;
                    font-family: $header-bold;
                    color: $text-color-white;
                }
            }
        }
        .social-icons{
            i{
                font-size: 1.4em;
                color: $text-color-white;
            }
        }
    }
}

// All section styling

// =============Section : landing Page ======================

#landing-page{
    background: url("../images/banner-v3.jpg");
    width: 100%;
    height: 768px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    position: relative;
    .overlay{
        position: absolute;
        width: 100%;
        height: 768px;
        background: #000000;
        opacity: 0.5; 
    }
    // lading page content styling
    .landing-page-content{
        padding-top: 100px;
        position: relative;
        .landing-text{
            margin: 45px 0;
            h1{
                color: $text-color-white;
                font-family: $header-semibold;
                font-size: 2.50em;
                line-height: 1.2;
                //padding: 0 25%;
            }
        }
        .landing-video{
            margin: 45px 0;
            .video-poster{
                background: url("../images/video-poster.jpg");
                width: 559px;
                height: 339px;
                max-width: 100%;
                max-height: 100%;
                background-size: 559px 339px;
                background-repeat: no-repeat;
                background-position: center;
                position: relative;
                margin: 0 auto;
                cursor: pointer;
                .play-btn{
                    position: absolute;
                    width: 74px;
                    top:50%;
                    left:50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}

//  =============Section : landing  Ends! ======================

//  =============Section : Features section ======================

