@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url("../fonts/text-fonts/SourceSansPro-Bold.WOFF") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SourceSansPro-SemiBold';
  src: url("../fonts/text-fonts/SourceSansPro-SemiBold.WOFF") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SourceSansPro-Light';
  src: url("../fonts/text-fonts/SourceSansPro-Light.WOFF") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url("../fonts/text-fonts/SourceSansPro-Regular.WOFF") format("woff");
  font-weight: normal;
  font-style: normal; }

.section-content {
  padding: 2% 0; }
  .section-content .section-head {
    font-size: 2.50em;
    font-family: "SourceSansPro-SemiBold", sans-serif;
    color: #4b4b4b;
    margin: 20px 0;
    text-transform: capitalize; }
  .section-content .section-subhead {
    font-size: 1em;
    font-family: "SourceSansPro-SemiBold", sans-serif;
    color: #4b4b4b;
    margin: 2% 0;
    text-transform: uppercase; }
  .section-content .content {
    margin: 45px 0; }

.bg-grey-black {
  background: #6b6b6b; }

.bg-brown {
  background: #efd693; }

.bg-black {
  background: #4b4b4b !important; }

.color-black {
  color: #4b4b4b !important; }

.color-white {
  color: #ffffff !important; }

.navbarbg {
  background: #4b4b4b;
  padding: 5px 0 10px 0;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
  transition: 0.2s ease-in; }

.removeNavbarBg {
  background: transparent;
  padding: 0;
  transition: 0.2s ease-out;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none; }

.mobile-social-menus {
  position: absolute;
  left: 50%;
  transform: translatex(-50%); }
  .mobile-social-menus .social-icons li {
    display: inline-block; }
    .mobile-social-menus .social-icons li i {
      font-size: 1.4em;
      color: #ffffff; }

.navbar-toggle {
  border: none; }
  .navbar-toggle span.icon-bar {
    color: #ffffff;
    background: #ffffff; }
  .navbar-toggle .icon-bar:nth-child(4n) {
    width: 15px;
    float: right; }

.down-arrow {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%); }

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1025px) {
  .show-tablet {
    display: none; }
  .hide-tab {
    display: block; } }

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (max-width: 1024px) {
  nav.navbar-custom .navbar-collapse ul.navbar-center {
    left: 48%; }
  .show-tablet {
    display: block; }
  .hide-tab {
    display: none; }
  #call-to-action {
    height: 500px; }
    #call-to-action .action-content .action-head {
      font-size: 1.8em; }
    #call-to-action .action-content .action-paragraph {
      padding: 2% 10%; }
    #call-to-action .action-content .call-to-action-button a.action-button {
      padding: 14px 50px; } }

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .show-tablet {
    display: block; }
  #features .container {
    width: 100%; }
  .add-pad-spacing {
    padding-left: 8%; }
  .half-laptop {
    position: absolute;
    top: 0;
    left: 0;
    height: 520px; } }

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .add-pad-spacing {
    padding-left: 8%; }
  .half-laptop {
    position: absolute;
    top: 0;
    left: 8;
    height: 520px; }
  #features .feature-section {
    text-align: center; }
    #features .feature-section .feature-head {
      margin-top: 10px; }
    #features .feature-section .feature-content {
      margin: 15px 0; } }

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (max-width: 767px) {
  .hide-mobile {
    display: none; }
  .show-mobile {
    display: block; }
  .show-tablet {
    display: none; }
  .hide-tab {
    display: block; }
  nav.navbar-custom {
    background: #4b4b4b;
    padding: 15px 0;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5); }
    nav.navbar-custom .navbar-collapse ul.navbar-center {
      position: relative;
      left: 0;
      transform: none;
      text-align: center; }
  .navbar-bg {
    background: none; }
  #features .feature-section .feature-head {
    margin-top: 10px; }
  #features .feature-section .feature-content {
    margin: 15px 0; }
  .section-content .section-head {
    font-size: 2em !important; } }

@media (min-width: 768px) {
  .hide-mobile {
    display: block; }
  .show-mobile {
    display: none; } }

@media (max-width: 425px) {
  #landing-page .landing-page-content .landing-text h1 {
    font-size: 1.8em; }
  #landing-page .landing-page-content .landing-video .video-poster {
    width: 100%;
    height: 210px;
    max-width: 340px; }
  #call-to-action .action-content .action-head {
    font-size: 1.5em;
    margin: 15px 0; }
  #call-to-action .action-content .action-paragraph {
    padding: 2% 5%; }
  #call-to-action .action-content .call-to-action-button a.action-button {
    padding: 14px 50px; }
  #plan .pack-price {
    margin: 15px auto; } }

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
